.result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
}

.result-item__name a {
  font-weight: 500;
  font-size: 30px;
  color: rgb(109, 214, 235);
}

.result-item__owner {
  font-size: 20px;
  font-weight: 300;
}

.result-item__lang {
  font-size: 20px;
  font-weight: 400;
}
