.result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
}

.result-item__name a {
  font-weight: 500;
  font-size: 30px;
  color: rgb(109, 214, 235);
}

.result-item__owner {
  font-size: 20px;
  font-weight: 300;
  padding-top: 4px;
}

.result-item__lang {
  font-size: 20px;
  font-weight: 400;
  padding-top: 4px;
}

@media screen and (max-width: 1020px) {
  .result-item__name a {
    font-size: 25px;
  }

  .result-item__owner, .result-item__lang {
    font-size: 17px;
  }
}
